{% extends 'accounts/layout.html' %}

{% block subtitle %}회원가입{% endblock %}

{% block content %}
    <main class="ui text container">
        {% if error %}
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">오류가 발생했습니다.</div>
                <p>{{ error }}</p>
            </div>
        {% endif %}

        <div class="ui header">회원가입</div>

        <form class="ui form" method="POST" action="{% url "accounts:signup" %}">
            {% csrf_token %}
            <div class="field">
                <label>이름</label>
                <input type="text" name="username" placeholder="이름" value="">
            </div>
            <div class="field">
                <label>비밀번호</label>
                <input type="password" name="password1" placeholder="비밀번호" value="">
            </div>
            <div class="field">
                <label>비밀번호 재입력</label>
                <input type="password" name="password2" placeholder="비밀번호 재입력" value="">
            </div>
            <button class="ui button" type="submit">회원가입</button>
        </form>
    </main>
{% endblock %}
